body {
  font-family: sans-serif;
  background-image: url(IBMFONDO.png);
  margin: 10px;
}

header, footer {
  background: #02389dec;
  color: white;
  text-align: center;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 15px;
}

.cajita {
  background: rgba(255, 255, 255, 0.611);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  transition: transform 0.2s;
}

.cajita:hover {
  transform: scale(1.02);
}

h2 {
  color: #0f62fe;
}

figure, iframe {
  text-align: center;
  display: block;
  margin: 20px auto;
}
